body {
	box-sizing: border-box;
	text-align: center;
}

*, *:before, *:after {
	box-sizing: inherit;
}

 .grid-container {
    width : 80%;
    margin: 0 auto 0 auto;
 }

 .row {
 	width: 620px;
 }

.col-1 {
	border-right: solid black 5px;
}

.col-2 {
}

.col-3 {
	border-left: solid black 5px;
}

.row-2 {
	border-top: solid black 5px;
	border-bottom: solid black 5px;
}

.field {
	height: 200px;
	width: 200px;
	display: inline-block;
	padding-top: 100px;
	padding-bottom: 100px;
}

